@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<ScienceDirectoryViewModel>
@using System.Collections.Generic
@using DotNetNuke.Collections
@using DotNetNuke.Web.Mvc.Helpers
@using DotNetNuke.Web.Client.ClientResourceManagement
@using DotNetNuke.Framework
@using DotNetNuke.Common
@using DotNetNuke.Common.Utilities
@using R7.University.ModelExtensions
@using R7.University.Science.ViewModels
@{
    ClientResourceManager.RegisterStyleSheet (Dnn.DnnPage, "~/DesktopModules/MVC/R7.University/R7.University/css/module.css");
}
@if (Model.IsEmpty) {
    if (Dnn.ModuleContext.IsEditable) {
        <p class="dnnFormMessage dnnFormInfo">@Dnn.LocalizeString("NothingToDisplay.Text")</p>
    }
    else {
        var containerControl = Globals.FindControlRecursiveDown (Dnn.DnnPage, "ctr" + Dnn.ModuleContext.ModuleId);
        containerControl.Visible = false;
    }
}
else {
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover u8y-science-directory">
            <thead>
    		    <th>@Dnn.LocalizeString("ScienceCode.Column")</th>
    		    <th>@Dnn.LocalizeString("ScienceEduProgram.Column")</th>
    		    <th>@Dnn.LocalizeString("ScienceDirections.Column")</th>
    		    <th>@Dnn.LocalizeString("ScienceBase.Column")</th>
    		    <th>@Dnn.LocalizeString("ScienceScientists.Column")</th>
    		    <th>@Dnn.LocalizeString("ScienceStudents.Column")</th>
    		    <th>@Dnn.LocalizeString("ScienceMonographs.Column")</th>
    		    <th>@Dnn.LocalizeString("ScienceArticles.Column")</th>
    		    <th>@Dnn.LocalizeString("SciencePatents.Column")</th>
    		    <th>@Dnn.LocalizeString("ScienceCertificates.Column")</th>
    		    <th>@Dnn.LocalizeString("ScienceFinances.Column")</th>
    	    </thead>
    	    <tbody>
        	    @foreach (var eps in Model.EduProgramScienceViewModels) {
                    <tr>
        			    <td>@eps.Code</td>
        			    <td>@eps.Title</td>
    				    <td>@eps.DirectionsHtml</td>
    				    <td>@eps.BaseHtml</td>
                        <td>@eps.ScientistsHtml</td>
        				<td>@eps.StudentsHtml</td>
        				<td>@eps.MonographsHtml</td>
        				<td>@eps.ArticlesHtml</td>
        				<td>@eps.PatentsHtml</td>
        				<td>@eps.CertificatesHtml</td>
        				<td>@eps.FinancesHtml</td>
        			</tr>
                }
    		</tbody>
        </table>
	</div>
}