@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<DivisionViewModel>
@using System.Collections.Generic
@using DotNetNuke.Collections
@using DotNetNuke.Web.Mvc.Helpers
@using DotNetNuke.Entities.Icons
@using DotNetNuke.Web.Client.ClientResourceManagement
@using DotNetNuke.Framework
@using DotNetNuke.Framework.JavaScriptLibraries
@using DotNetNuke.Common
@using DotNetNuke.Common.Utilities
@using R7.University.Division.ViewModels
@{
    ClientResourceManager.RegisterScript (Dnn.DnnPage, "~/DesktopModules/MVC/R7.University.Division/js/module.js");
    ClientResourceManager.RegisterStyleSheet (Dnn.DnnPage, "~/DesktopModules/MVC/R7.University/css/module.css");
}
@if (!Model.IsEmpty) {
    <div class="u8y-division">
    	@if (Model.HasHomePage) {
    	    <a href="@Model.HomePageUrl" target="_blank" class="_section">@Model.DisplayTitle</a>
        } else {
            <span class="_section">@Model.DisplayTitle</span>
        }
    	@if (Model.DivisionTermID != null) {
    	    <a href="@Model.DisplayTermUrl" target="_blank" class="_section tag"></a>
        }
        @if (!string.IsNullOrWhiteSpace (Model.DocumentUrl)) {
        	<div class="_section">
        	    <a href="@Model.DocumentUrl" target="_blank">@Dnn.LocalizeString("DocumentUrl.Text")</a>
            </div>
        }
    	@if (!string.IsNullOrWhiteSpace (Model.Phone) || !string.IsNullOrWhiteSpace (Model.Fax)) {
        	<div class="_section">
        		@if (!string.IsNullOrWhiteSpace (Model.Phone)) {
                    <span class="_label">@Model.Phone</span>
                }
        		@if (!string.IsNullOrWhiteSpace (Model.Fax)) {
        		    <span class="_label">@Model.DisplayFax</span>
                }
            </div>
        }
	    @if (!string.IsNullOrWhiteSpace (Model.Email)
            || !string.IsNullOrWhiteSpace (Model.SecondaryEmail)
            || !string.IsNullOrWhiteSpace (Model.WebSite)) {
            <div class="_section">
        		@if (!string.IsNullOrWhiteSpace (Model.Email)) {
                    <a href="mailto:@Model.Email" class="_label">@Model.Email</a>
                }
                @if (!string.IsNullOrWhiteSpace (Model.SecondaryEmail)) {
                    <a href="mailto:@Model.SecondaryEmail" class="_label">@Model.SecondaryEmail</a>
                }
        		@if (!string.IsNullOrWhiteSpace (Model.WebSite)) {
        		    <a href="@Model.WebSiteUrl" target="_blank" class="_label">@Model.DisplayWebSiteLabel</a>
                }
        	</div>
        }
        @if (!string.IsNullOrWhiteSpace (Model.DisplayLocation)) {
        	<div class="_section">
        		<span class="_label">@Model.DisplayLocation</span>
        	</div>
        }
    	@if (!string.IsNullOrWhiteSpace (Model.WorkingHours)) {
        	<div class="_section">
                <span class="_label">@Model.WorkingHours</span>
            </div>
        }
    	@if (Model.SubDivisionViewModels.Count > 0) {
        	<div class="panel-subdivisions">
                <label>@Dnn.LocalizeString("SubDivisions.Text")</label>
        		<ul>
        		@foreach (var subDivision in Model.SubDivisionViewModels) {
                    <li class="@subDivision.CssClass">
    				    @if (subDivision.HasHomePage) {
        				    <a href="@subDivision.HomePageUrl" target="_blank">@subDivision.Title</a>
                        } else {
                            @subDivision.Title
    				    }
        			</li>    
                }
        		</ul>
        	</div>
        }
    	<a class="btn btn-default btn-sm link-barcode" data-module-id="@Dnn.ModuleContext.ModuleId" data-dialog-title="@Model.Title"
    	    onclick="showDivisionBarcodeDialog(this)">@Html.Raw(Dnn.LocalizeString("linkBarcode.Text"))</a>
        <div class="dialog-division-barcode" id="dialog-division-barcode-@Dnn.ModuleContext.ModuleId">
            <img class="center-block" style="margin-top:10px" src="@Model.BarcodeImageUrl"
    			alt='@Dnn.LocalizeString("imageBarcode.AlternateText")'
    		    title='@Dnn.LocalizeString("imageBarcode.ToolTip")' />
            <div class="alert alert-info" style="margin-top:10px;margin-bottom:0">@Dnn.LocalizeString("BarcodeScan.Text")</div>
        </div>
    </div>
}