@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<ContingentViewModel>
@using DotNetNuke.Web.Mvc.Helpers
@using R7.University.EduProgramProfiles.ViewModels

<td itemprop="eduCode">@Model.EduProgramProfile.EduProgram.Code</td>
<td itemprop="eduName">@Model.EduProgramProfileTitle</td>
<td itemprop="eduLevel">@Model.EduProgramProfile.EduLevel.Title</td>
<td itemprop="eduForm">@Model.EduFormTitle</td>
<td>@Model.ActualFB</td>
<td>@Model.ActualRB</td>
<td>@Model.ActualMB</td>
<td>@Model.ActualBC</td>