@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<ContingentViewModel>
@using DotNetNuke.Web.Mvc.Helpers
@using R7.University.EduProgramProfiles.ViewModels

<td itemprop="eduCode">@Model.EduProfile.EduProgram.Code</td>
<td itemprop="eduName">@Model.EduProfileTitle</td>
<td itemprop="eduLevel">@Model.EduProfile.EduLevel.Title</td>
<td itemprop="eduForm">@Model.EduFormTitle</td>
<td itemprop="numberBFpriem">@Model.AdmittedFB</td>
<td itemprop="numberBRpriem">@Model.AdmittedRB</td>
<td itemprop="numberBMpriem">@Model.AdmittedMB</td>
<td itemprop="numberPpriem">@Model.AdmittedBC</td>
<td itemprop="scorePriem">@Model.AvgAdmScore</td>
