@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<ContingentViewModel>
@using DotNetNuke.Web.Mvc.Helpers
@using R7.University.EduProgramProfiles.ViewModels

<td itemprop="eduCode">@Model.EduProfile.EduProgram.Code</td>
<td itemprop="eduName">@Model.EduProfileTitle</td>
<td itemprop="eduLevel">@Model.EduProfile.EduLevel.Title</td>
<td itemprop="eduForm">@Model.EduFormTitle</td>
<td itemprop="numberBF">@Model.AdmittedFB</td>
<td itemprop="numberBR">@Model.AdmittedRB</td>
<td itemprop="numberBM">@Model.AdmittedMB</td>
<td itemprop="numberP">@Model.AdmittedBC</td>
<td itemprop="score">@Model.AvgAdmScore</td>
