@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<ContingentViewModel>
@using DotNetNuke.Web.Mvc.Helpers
@using R7.University.EduProgramProfiles.ViewModels

<td itemprop="eduCode">@Model.EduProfile.EduProgram.Code</td>
<td itemprop="eduName">@Model.EduProfileTitle</td>
<td itemprop="eduLevel">@Model.EduProfile.EduLevel.Title</td>
<td itemprop="eduForm">@Model.EduFormTitle</td>
<td itemprop="numberOut">@Model.MovedOut</td>
<td itemprop="numberTo">@Model.MovedIn</td>
<td itemprop="numberRes">@Model.Restored</td>
<td itemprop="numberExp">@Model.Expelled</td>
