@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<ContingentViewModel>
@using DotNetNuke.Web.Mvc.Helpers
@using R7.University.EduProgramProfiles.ViewModels

<td itemprop="eduCode">@Model.EduProgramProfile.EduProgram.Code</td>
<td itemprop="eduName">@Model.EduProgramProfileTitle</td>
<td itemprop="eduLevel">@Model.EduProgramProfile.EduLevel.Title</td>
<td itemprop="eduForm">@Model.EduFormTitle</td>
<td>@Model.MovedOut</td>
<td>@Model.MovedIn</td>
<td>@Model.Restored</td>
<td>@Model.Expelled</td>