@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<ContingentViewModel>
@using DotNetNuke.Web.Mvc.Helpers
@using R7.University.EduProgramProfiles.ViewModels

<td itemprop="eduCode">@Model.EduProgramProfile.EduProgram.Code</td>
<td itemprop="eduName">@Model.EduProgramProfileTitle</td>
<td itemprop="eduLevel">@Model.EduProgramProfile.EduLevel.Title</td>
<td>@(Model.RootViewModel.LastYear.Year - @Model.Year.Year + 1)</td>
<td itemprop="eduForm">@Model.EduFormTitle</td>
<td>@Model.VacantFB</td>
<td>@Model.VacantRB</td>
<td>@Model.VacantMB</td>
<td>@Model.VacantBC</td>