@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<ContingentViewModel>
@using DotNetNuke.Web.Mvc.Helpers
@using R7.University.EduProgramProfiles.ViewModels

<td itemprop="eduCode">@Model.EduProfile.EduProgram.Code</td>
<td itemprop="nameProgVacant"><span itemprop="specialVacant">@Model.EduProfileTitle</span></td>
<td itemprop="@Model.EduLevelVacantItemProp">@Model.EduProfile.EduLevel.Title</td>
<td>@Model.Course</td>
<td itemprop="eduForm">@Model.EduFormTitle</td>
<td itemprop="numberBFVacant">@Model.VacantFB</td>
<td itemprop="numberBRVacant">@Model.VacantRB</td>
<td itemprop="numberBMVacant">@Model.VacantMB</td>
<td itemprop="numberPVacant">@Model.VacantBC</td>
