@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<ContingentDirectoryViewModel>
@using System.Collections.Generic
@using DotNetNuke.Collections
@using DotNetNuke.Web.Mvc.Helpers
@using DotNetNuke.Web.Client.ClientResourceManagement
@using DotNetNuke.Framework
@using DotNetNuke.Common
@using DotNetNuke.Common.Utilities
@using R7.University.Components
@using R7.University.ModelExtensions
@using R7.University.ViewModels
@using R7.University.Controls.ViewModels
@using R7.University.EduProgramProfiles.Models
@using R7.University.EduProgramProfiles.ViewModels
@{
    ClientResourceManager.RegisterStyleSheet (Dnn.DnnPage, "~/DesktopModules/MVC/R7.University/R7.University/css/module.css");
    ClientResourceManager.RegisterScript (Dnn.DnnPage, "~/DesktopModules/MVC/R7.University/R7.University/js/module.js", 100, "DnnFormBottomProvider");
}
@if (!Model.IsConfigured || Model.IsEmpty) {
    if (Dnn.ModuleContext.IsEditable) {
        if (!Model.IsConfigured) {
            <p class="dnnFormMessage dnnFormInfo">@Dnn.LocalizeString("NotConfigured.Text")</p>
        }
        if (Model.IsEmpty) {
            <p class="dnnFormMessage dnnFormInfo">@Dnn.LocalizeString("NothingToDisplay.Text")</p>
        }
    }
    else {
        var containerControl = Globals.FindControlRecursiveDown (Dnn.DnnPage, "ctr" + Dnn.ModuleContext.ModuleId);
        containerControl.Visible = false;
    }
}
else {
    <div class="u8y-contingent-directory">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover u8y-contingent-directory-table"
			    itemprop="@Model.ItemProp">
                <thead>
    			    <tr>
        			    @if (Dnn.ModuleContext.IsEditable) {
                            <th scope="col" rowspan="2"></th>
                        }
    				    <th scope="col" rowspan="2">@Dnn.LocalizeString("EduCode.Column")</th>
        			    <th scope="col" rowspan="2">@Dnn.LocalizeString("EduProgram.Column")</th>
    				    <th scope="col" rowspan="2">@Dnn.LocalizeString("EduLevel.Column")</th>
					    @if (Model.Settings.Mode == ContingentDirectoryMode.Vacant) {
    				        <th scope="col" rowspan="2">@Dnn.LocalizeString("Course.Column")</th>
                        }
					    <th scope="col" rowspan="2">@Dnn.LocalizeString("EduForm.Column")</th>
					    @if (Model.Settings.Mode == ContingentDirectoryMode.Vacant) {
                            <th scope="col" colspan="4">@Dnn.LocalizeString("VacantPlaces.Column")</th>
                        }
					    else if (Model.Settings.Mode == ContingentDirectoryMode.Actual) {
					        <th scope="col" colspan="4">@Dnn.LocalizeString("Actual.Column")</th>
					    }
					    else if (Model.Settings.Mode == ContingentDirectoryMode.Admission) {
                            <th scope="col" colspan="4">@Dnn.LocalizeString("Admission.Column")</th>
                            <th scope="col" rowspan="2">@Dnn.LocalizeString("AvgAdmScore.Column")</th>
					    }
					    else if (Model.Settings.Mode == ContingentDirectoryMode.Movement) {
                            <th scope="col" rowspan="2">@Dnn.LocalizeString("MovedOut.Column")</th>
                            <th scope="col" rowspan="2">@Dnn.LocalizeString("MovedIn.Column")</th>
                            <th scope="col" rowspan="2">@Dnn.LocalizeString("Restored.Column")</th>
                            <th scope="col" rowspan="2">@Dnn.LocalizeString("Expelled.Column")</th>
                        }
					</tr>
                    <tr>
					    @if (Model.Settings.Mode != ContingentDirectoryMode.Movement) {
                            <th scope="col">@Dnn.LocalizeString("NumberFB.Column")</th>
                            <th scope="col">@Dnn.LocalizeString("NumberRB.Column")</th>
                            <th scope="col">@Dnn.LocalizeString("NumberMB.Column")</th>
                            <th scope="col">@Dnn.LocalizeString("NumberBC.Column")</th>
                        }
					</tr>
				</thead>
        	    <tbody>
            	    @foreach (var cv in Model.ContingentViewModels) {
                        <tr id="@cv.HtmlElementId" class="@cv.CssClass">
                            @if (Dnn.ModuleContext.IsEditable) {
                                <td class="u8y-actions">
									<a href="@cv.EditUrl" onclick="r7_University_selectItem(jQuery,this)"><img src="@cv.EditIconUrl" /></a>
									<span class="u8y-selected-item-marker">&#9654;</span>
								</td>
                            }
                            @if (Model.Settings.Mode == ContingentDirectoryMode.Vacant) {
                                @Html.Partial("_VacantRow", cv)
                            }
					        else if (Model.Settings.Mode == ContingentDirectoryMode.Actual) {
                                @Html.Partial("_ActualRow", cv)
                            }
					        else if (Model.Settings.Mode == ContingentDirectoryMode.Admission) {
                                @Html.Partial("_AdmissionRow", cv)
                            }
					        else if (Model.Settings.Mode == ContingentDirectoryMode.Movement) {
                                @Html.Partial("_MovementRow", cv)
                            }
					    </tr>
                    }
        		</tbody>
            </table>
    	</div>
        @Html.Partial("~/DesktopModules/MVC/R7.University/R7.University.Controls/Views/_AgplSignature.cshtml", new AgplSignatureViewModel ())
    </div>
    @Html.Partial("~/DesktopModules/MVC/R7.University/R7.University.Controls/Views/_SelectedItemScript.cshtml", null)
}